    /* 컴포넌트에서 css 호출하는 방법
        import 'css파일경로'
    */


    .products{
        display: flex;
        justify-content: center; /* 세로 가운데 */
        
    }

    .products > ul{
        border: 1px solid #eeeeee;
        border-radius: 20px;
        width: 95px;
        height: 80px;
        margin-right: 10px;
        padding: 10px;
        text-align: center;
        align-items: center; /* 가로 가운데 */
        
    }

    .products > ul > li{
        list-style: none;
        padding-bottom: 5px; 
        
    }
    .title{
        font-weight: bold;
        font-size: 15px;
    }

    .price{
        font-size: 10px;
    }
    .inStock{
        font-size: 10px;
    }